* {
  background-color: aliceblue;
}

.header {
  display: inline-flex;
  padding: 10px 10px 0px 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header div {
  border: 1px solid rgb(187, 186, 186);
  width: 10vw;
  padding: 5px;
}

.description {
  width: 40vw !important;
}

.table {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.table div {
  width: 10vw;
  border: 1px solid rgb(187, 186, 186);
  padding: 5px;
}

.description-info {
  width: 40vw !important;
}
