.profileContainer {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: calc(100% - 100px);
  max-width: 1300px;
  margin-inline: auto;
}

.profileListSection {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20em;
}

.profileListItemsContainer {
  margin-top: 1em;
  border-radius: 0.2em;
  outline: 1px solid #dfdfdf;
}

.profileListItem {
  display: flex;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #dfdfdf;
}
